/* 
    Document   : default
    Created on : 2011-sep-12, 22:11:08
    Author     : jesper
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    margin: 0;
    font-family: "myriad pro", helvetica, sans-serif
}
root { 
    display: block;
}

.dropdown_container {
    padding: 1em;
    background-color: #ccffcc;
    border: 1px solid #66ff66;
    display: inline-block;
    box-shadow: 0px 0px 20px #666;
}

ul.dropdown {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu_wrapper,
#content_wrapper
{
    width: 50em;
    margin: 0px auto;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px #ccc;
}

#content_wrapper {
    margin-top: 1em;
    background-color: #ffff99;
    /*
    -webkit-transition: all 1s ease-in-out;
    transition: all 2s ease-in-out;
    */
}
/*
#content_wrapper:hover {
    background-color: #ffff66;
    box-shadow: 0px 0px 25px #555;
}
*/

#content {
    padding:.5em;
}
#menu_wrapper {
    margin-top: 1em;
    height: 6em;
    background-color: #99ff66;
}

#menu_list {
    display: inline-block;
    list-style: none;
    margin: 1em 0 0 0;
    padding:0;
}

#menu_list > li {
    float: left;
    margin-left: 10px;
    padding: 5px;
    box-shadow: 0px 0px 20px #111;
}

#pic
{
    float: right;
    width: 100px;
    height: 100%;
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Face-smile.svg/200px-Face-smile.svg.png');
    background-position: 50%;
}

#button_container {
    margin: 2em auto;
    width: 50em;
    text-align: center;
}